.Azul {
    background-color: blue;
    color: black;
    height: 100px;
    width: 100px;
}

.Vermelho {
    background-color: red;
    height: 100px;
    width: 100px;
}

.Verde {
    background-color: green;
    height: 100px;
    width: 100px;
}